In [1]:
import pandas as pd

In [5]:
jan_dataset = pd.read_parquet('fhv_tripdata_2021-01.parquet')
feb_dataset = pd.read_parquet('fhv_tripdata_2021-02.parquet')

In [9]:
jan_dataset.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,NaN,NaN,None,B00009
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,NaN,NaN,None,B00009
2,B00013,2021-01-01 00:01:00,2021-01-01 01:51:00,NaN,NaN,None,B00013
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,NaN,72.0,None,B00037
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,NaN,61.0,None,B00037

In [8]:
# Number of records in Jan 2021 FHV data 
jan_dataset.count()

dispatching_base_num      1154112
pickup_datetime           1154112
dropOff_datetime          1154112
PUlocationID               195845
DOlocationID               991892
SR_Flag                         0
Affiliated_base_number    1153227
dtype: int64

In [14]:
# Average duration in Jan 2021 FHV
trip_duration = jan_dataset['dropOff_datetime'] - jan_dataset['pickup_datetime']
trip_duration.mean()

Timedelta('0 days 00:19:10.033445627')

In [37]:
# Fraction of missing values
def count_missing_values():
    missing_counter = 0
    for column in jan_dataset.columns:
        missing_counter = missing_counter + jan_dataset[column].isnull().sum()
    return missing_counter

def count_total_values():
    total_counter = 0
    for column in jan_dataset.columns:
        total_counter = total_counter + jan_dataset[column].count()
    return total_counter

In [38]:
(count_missing_values()/count_total_values())*100

39.21017352196164